<div class="moviePage">
  <div class="movieMeta">
    <h1>{{movie.attributes.title}}</h1>
    {{! IMDB Rating Button }}
    {{! Stolen code from IMDB }}
    <div class="imdbBtn">
      <span
        class="imdbRatingPlugin"
        data-user="ur7938290"
        data-title="{{movie.attributes.imdbId}}"
        data-style="p1"
      >
        <img
          src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_46x22.png"
        />
      </span>
      <script>
        (function(d,s,id){ var js, stags=d.getElementsByTagName(s)[0];
        if(d.getElementById(id)){ return; } js=d.createElement(s); js.id=id;
        js.src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js";
        stags.parentNode.insertBefore(js,stags); })
        (document,"script","imdb-rating-api");
      </script>
      {{! -----------------}}
    </div>
    {{{markdown movie.attributes.intro}}}
  </div>
  <img src="{{movie.attributes.image.url}}" />
</div>
<h2 id="reviewTitle">Review movie</h2>
<div class="postReview">
  <form id="reviewForm" autocomplete="off" onsubmit="document.querySelector('#reviewForm').reset()">
    <textarea name="comment" placeholder="Comment"></textarea>
    <input type="hidden" name="movie" value="{{movie.id}}" />
    <label for="rating">Rating</label>
    <div>
    <select id="styled" name="rating" required>
      <option value="">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input
      type="text"
      name="name"
      placeholder="Your Name"
      value="{{savedName}}"
      required
    />
    </div>
    <input type="submit">
  </form>
</div>

<script src="/static/reviews_post.js"></script>