<div class="moviePage">
  <div class="movieMeta">
    <h1>{{movie.attributes.title}}</h1>
    {{! IMDB Rating Button }}
    {{! Stolen code from IMDB }}
    <div class="imdbBtn">
      <span
        class="imdbRatingPlugin"
        data-user="ur7938290"
        data-title="{{movie.attributes.imdbId}}"
        data-style="p1"
      >
        <img
          src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_46x22.png"
        />
      </span>
      <script>
        (function(d,s,id){ var js, stags=d.getElementsByTagName(s)[0];
        if(d.getElementById(id)){ return; } js=d.createElement(s); js.id=id;
        js.src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js";
        stags.parentNode.insertBefore(js,stags); })
        (document,"script","imdb-rating-api");
      </script>
      {{! ---------------------}}
    </div>
    {{{markdown movie.attributes.intro}}}
  </div>
  <img src="{{movie.attributes.image.url}}" />



  <div class=''>
    <form action='' method='post' id='postForm'>
      <div class='form-group'>
        <label for='namePostReviewForm'>Namn</label>
        <input
          type='name'
          class='form-control'
          id='namePostReviewForm'
          placeholder='John Doe'
          value=''
          required
        />
        <input type='hidden' name='movie' value='{{movie.id}}' />
      </div>
      <div class='form-group'>
        <label for='ratingPostReview'>Välj betyg 1-5</label>
        <select class='form-control' id='ratingPostReview'>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class='form-group'>
        <label for='commentPostReview'>Lämna kommentar</label>
        <textarea
          class='form-control'
          id='commentPostReview'
          rows='3'
          required
        ></textarea>
      </div>
      <input type='submit' />
    </form>
  </div>
</div>
<script src="/static/reviews_post.js"></script>
</div>