<div class="moviePage">
  <div class="reviews">
    <h2>User Reviews</h2>
    <ul id="reviewsList"></ul>
    {{!-- Review form start --}}
    <div class="postReview">
      <h2 id="reviewTitle">Post your own review</h2>
      <form
        id="reviewForm"
        autocomplete="off"
        onsubmit="document.querySelector('#reviewForm').reset()"
      >
        <textarea name="comment" placeholder="Comment"></textarea>
        <input type="hidden" name="movie" value="{{movie.id}}" />
        <label for="rating">Rating</label>
        <div>
          <select id="styled" name="rating" required>
            <option value="">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <input
            type="text"
            name="name"
            placeholder="Your Name"
            value="{{savedName}}"
            required
          />
        </div>
        <input type="submit" />
      </form>
    </div>
    {{!-- Review form end --}}
  </div>
  <div class="movieMeta">
    <h1>{{movie.title}}</h1>
    {{! IMDB Rating Button }}
    {{! Stolen code from IMDB }}
    <div class="imdbBtn">
      <script>
        (function(d,s,id){ var js, stags=d.getElementsByTagName(s)[0];
        if(d.getElementById(id)){ return; } js=d.createElement(s); js.id=id;
        //js.src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js";
        stags.parentNode.insertBefore(js,stags); })
        (document,"script","imdb-rating-api");
      </script>
      {{! -------}}
    </div>
    {{{markdown movie.intro}}}
    <div class="ratings">
      <h2 id="ratingTitle">Rating</h2>
      <div id="rating"></div>
    </div>
  </div>
  <img src="{{movie.image.url}}" alt="Movie image"/>
</div>

<script src="/reviews_post.js"></script>
<script src="/../screening.js"></script>
<script src="/reviews.js"></script>
<script src="/../movie.js"></script>